<h1>All Books</h1>

<% @books.each do |book| %>
<section id="book-<%= book.id %>">
  <%= link_to book.title, "/books/#{book.id}" %>
  <%= book.publication_year %>
  <%= book.pages %>
  <% book.authors.each do |author| %>
    <section id="author-<%= author.id %>">
      <%= link_to author.name, "/authors/#{author.id}" %>
    </section>
  <% end %>
</section>
<% end %>
