<h1>All Books</h1>

<% @books.each do |book| %>
<section id="book-<%= book.id %>">
  <p>Title: <%= link_to book.title, "/books/#{book.id}" %></p>
  <p>Publication Year: <%= book.publication_year %></p>
  <p>Number of Pages: <%= book.pages %></p>
  <p>Author Name(s): <% book.authors.each do |author| %></p>
    <section id="author-<%= author.id %>">
      <%= link_to author.name, "/authors/#{author.id}" %>
    </section>
  <% end %>
</section><br>
<% end %>
